name: shared
description: A starting point for Dart libraries or applications.
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.0.0

# Add regular dependencies here.
dependencies:
  levit_dart: ^0.0.4
  
dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6
