name: CI

on:
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    name: Checks (Dart, Flutter)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Melos
        uses: bluefireteam/melos-action@v3

      - name: Check Formatting
        # Fails if any file is not formatted correctly
        run: melos exec -- "dart format . --set-exit-if-changed"

      - name: Static Analysis
        # Runs 'dart analyze --fatal-infos' as defined in melos.yaml
        run: melos run analyze
